<%- include('./partials/header') %>
<div class="container">
    <h1>Welcome!</h1>
    <p>blah blah</p>
    <a href="/webcam" class="btn btn-primary">click me</a>
</div>

<%- include('./partials/footer') %> 