<%- include('./partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-12">
            <h1>Train HARD!
                <h1 class="display-2" style="color: rgb(184, 8, 8);">...and RIGHT!</h1>
            </h1>
            <p>Resistance training (a.k.a weight training) have a high risk of injury, especially if an exercise is not being performed with correct form.</p>
            <p>Here, with our <strong>classification machine learning model</strong>, will help you do that! We will spot you as you performed the exercise and and follow you up with a specific input based on your performance.</p>
            <p><strong>Jump on in! Let's go</strong>
                <h4 class="d-lg-block d-none">👉👉</h4>
                <h4 class="d-lg-none d-xl-none d-md-block">👇👇</h4>
            </p>
            
        </div>
        <div class="col-lg-6 col-12">
            <a href="/webcam">
                <img id="curl-element" src="image/curl-element.png">
            </a>
        </div>
    </div>
</div>

<%- include('./partials/footer') %> 